:root {
  --calculator-width: 26.4375rem;
  --calculator-height: 53.625rem;

  /* light mode */
  .light-mode {
    --color: #373737;
    --calculator-bg: linear-gradient(
      166deg,
      #fefefe 0%,
      #f9f9f9 22.9%,
      #fefefe 100%
    );
    --keypad-bg: linear-gradient(to bottom left, #a9dcfd, #6396c5);
    --keypad-operatorsBtns: linear-gradient(to bottom, #a9dcfd, #6396c5);
    --keypad-operatorBtns-lastChild: #e5e5e5;
    --keypad-special-operationsBtns: linear-gradient(
      to right,
      #e6f6ff,
      #d8eeff
    );
    --keypad-numberBtns: linear-gradient(to bottom, #e6f6ff, #d8eeff);
    --border-color: #6396c5;
    --toggle-bg: #a9dcfd;
    --slider-bg: #d8eeff;
    --input-color: rgba(151, 151, 151, 0.5);
  }

  /* dark mode */

  --color: #fbfbfb;
  --calculator-bg: linear-gradient(
    166deg,
    #373737 0%,
    #252628 22.9%,
    #000309 100%
  );
  --keypad-bg: linear-gradient(to bottom left, #002235, #050505);
  --keypad-operatorsBtns: linear-gradient(to bottom, #002235, #050505);
  --keypad-operatorBtns-lastChild: #002235;
  --keypad-special-operationsBtns: linear-gradient(to right, #002235, #050505);
  --keypad-numberBtns: linear-gradient(to bottom, #002235, #050505);
  --border-color: #3d76ab;
  --toggle-bg: #1b6a9c;
  --slider-bg: #003661;
  --input-color: rgba(251, 251, 251, 0.5);

  /* 80%, 50%, 40% */
  * {
    box-sizing: border-box;
  }
}
.calculator {
  width: var(--calculator-width);
  height: var(--calculator-height);
  border-radius: 2.5rem;
  background: var(--calculator-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* toggle-history */
.toggle-history {
  width: 100%;
}
.toggle-history * {
  display: inline;
}
/* 
you need to divide the problem into a set of problems:
you need to make a button that toggles between light and dark using css when clicked

the toggle has two spans inside 

*/

.toggle-history__toggle {
  display: inline-block;

  width: 7.625rem;
  height: 2.75rem;
  margin-top: 3.25rem;
  margin-left: 9.44rem;
  margin-bottom: 0rem;
  border-radius: 2.5rem;
  background: var(--toggle-bg);

  position: relative;
  /* in order to position the inner svgs */
}

.toggle-history__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 4.25rem;
  height: 2.75rem;
  left: 0;
  bottom: 0;
  border-radius: 2.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: var(--slider-bg);
}
input:checked + .slider {
  background-color: var(--toggle-bg);
  border-radius: 2.5rem;
}

input:checked + .slider:before {
  background-color: var(--slider-bg);
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.38rem);
  -ms-transform: translateX(3.38rem);
  transform: translateX(3.38rem);
}
.toggle-history__toggle svg {
  position: absolute;
  width: 1.85856rem;
  height: 1.85856rem;
  z-index: 1;
}

.toggle-history__toggle svg:first-child {
  top: 0.44rem;
  left: 1.08rem;
}
.toggle-history__toggle svg:nth-child(2) {
  top: 0.44rem;
  left: 4.69rem;
}

.toggle-history__history {
  margin-top: 3.69rem;
  margin-left: 5.375rem;
  width: 1.875rem;
  height: 1.875rem;
}

.display {
  width: 22.1875rem;
  height: 6.5625rem;
  margin-left: 2.12rem;
  margin-top: 8.81rem;
}

.display__input-line {
  display: flex;
  width: 22.1875rem;
  height: 2.1875rem;
  flex-direction: column;
  justify-content: center;

  color: var(--input-color);
  text-align: right;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.display__preview-line,
.display__preivew-line * {
  height: 4.375rem;
}

.display__preview-line--equal-btn {
  display: inline-flex;
  width: 4.375rem;
  height: 4.375rem;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;

  border: none;
  color: var(--color);
  text-align: center;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
}

.display__preview-line--result {
  display: inline-flex;
  width: 10.3125rem;
  height: 4.375rem;
  margin-left: 7.24rem;
  flex-direction: column;
  justify-content: center;
  color: var(--color);
  text-align: right;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.keypad {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  width: 26.4375rem;
  height: 33.5625rem;
  margin-top: 1.4rem;
  margin-bottom: -0.4rem;
  padding: 2.12rem;
  border-radius: 1.875rem;
  background: var(--keypad-bg);
  box-shadow: 0px -5px 70px 0px rgba(0, 0, 0, 0.1);
}

.keypad button {
  display: inline-flex;
  width: 4.375rem;
  height: 4.375rem;
  flex-direction: column;
  justify-content: center;
  color: var(--color);
  text-align: center;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.keypad__special-operations {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  width: 16.25rem;
  height: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2.5rem;
  background: var(--keypad-special-operationsBtns);

  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);
}

.keypad__numbers {
  grid-row: 2 / span 4;
  grid-column: 1 / span 3;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem 1.56rem;
}

.keypad__numbers button,
.keypad__special-operations button {
  border-radius: 50%;
}

.keypad__special-operations button {
  background-color: transparent;
}
.keypad__numbers button {
  background: var(--keypad-numberBtns);
}

.keypad__operators {
  grid-row: 1 / span 4;
  grid-column: 3 span 1;
  width: 4.375rem;
  height: 26.875rem;
  border-radius: 2.5rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  flex-direction: column;
  background: var(--keypad-operatorsBtns);
}

.keypad__operators button:first-child {
  margin-top: 0;
}

.keypad__operators button {
  margin-top: 1.56rem;
  background: transparent;
}

.keypad__operators button:last-child {
  background: var(--keypad-operatorsBtns-lastChild);
  border-radius: 50%;
}

.border {
  width: 10.9375rem;
  height: 0.3125rem;
  border-radius: 1.5625rem;
  background: var(--border-color);
  margin-bottom: 1.62rem;
  margin-left: 7.75rem;
  position: relative;
  bottom: 1.62rem;
}
